#container {
  border: blue 2px solid;
  height: 95vh;
  width: 38vh;
  margin: auto;
  margin-top: 25px;
}

#words {
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
}

#clothes {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
}

.pic {
  width: 60px;
  height: 60px;
}